@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-text{
    color: #525CEB;
}

.blue-bg{
    background-color: #525CEB;
}

.gray-text{
    color : rgb(130, 168, 180)
}

.black-text {
    color : #3D3B40
}

.button-blue{
    background-color: #525CEB;
    color: white;
}

.button-blue:hover{
    background-color: #242b91;
    color: white
}